hr {
  border-color: rgb(86, 87, 104);
}

.footer {
  height: 450px;
  background-color: #1c2d46;
  color: white;
}

.footer_main {
  display: flex;
  justify-content: center;
}

.footer_section {
  margin: 30px 60px 10px;
  justify-content: center;
  flex-direction: column nowrap;
}

.footer_category {
  font-weight: 700;
  font-size: 18px;
  margin: 6px 0 14px;
  flex-wrap: nowrap;
}

.footer_sub_category {
  margin: 0 0 10px;
}
